<div class="app-div">
  <form [formGroup]="appointmentDate" (ngSubmit)="getAppointments()" accept-charset="UTF-8" role="form">
    <mat-card class="card">
      <label class="ppointment-label">Zakazivanje termina</label>
      <div class=form-div>

        <div class="example-container">
          <div style="margin-top: 2%;">
            <Label>Odaberite datum</Label>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Datum</mat-label>
              <input matInput formControlName="Date" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <mat-card-actions>
          <button class="btn-field" mat-button color="primary">Prikazi slobodne termine</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </form>

  <mat-card class="card">
    <label class="ppointment-label">Moji termini</label>
    <div class=form-div>

      <div class="example-container">
        <div style="margin-top: 2%;">
          <Label>Moji termini</Label>
          <br>
          <table class="table">
            <thead>
              <tr>
                <td>Od</td>
                <td>Stomatolog</td>
              </tr>
            </thead>
            <tbody>
              <tr class="hover-tr" *ngFor="let el of appointmentsPersonal">
                <td>{{el.DateTimeFrom}}</td>
                <td>{{el.DentistName}}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-card>
</div>


<div class="table-div">
  <mat-card class=table-card>
    <p class="ppointment-label">Slobodni termini</p>
    <table class="table">
      <thead>
        <tr>
          <td>Od</td>
          <td>Do </td>
          <td>Stomatolog</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr class="hover-tr" *ngFor="let el of appointments">
          <td>{{el.DateTimeFrom}}</td>
          <td>{{el.DateTimeTo}}</td>
          <td>{{el.DentistName}}</td>
          <button mat-button (click)="BookAppoitment(el)" [disabled]="el.Reserved">Zakazi</button>

      </tbody>
    </table>

  </mat-card>
</div>