.hover-tr:hover
{
  background-color:rgba(128, 128, 128, 0.048)
}

.ppointment-label
{
    font-size: xx-large;
}

.app-div
{
    float: left;
    width: 30%;
    height: 20%;
    margin: 3%;
}

.table-div
{
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    width: 60%;
    height: 100%;

}

