<div class="bills-container">
    <h2 class="section-title" [ngSwitch]="userRole">
        <ng-container *ngSwitchCase="USER_TYPE.ADMIN">Računi za rezervisane termine:</ng-container>
        <ng-container *ngSwitchCase="USER_TYPE.DENTIST">Računi za vaše rezervisane termine:</ng-container>
        <ng-container *ngSwitchCase="USER_TYPE.PATIENT">Vaši računi:</ng-container>
    </h2>
    <div class="search-bar">
        <div *ngIf="userRole === USER_TYPE.ADMIN || userRole === USER_TYPE.PATIENT" class="field-container">
            <mat-form-field>
                <mat-label>Filter po zubaru</mat-label>
                <mat-select [(ngModel)]="dentist" (valueChange)="filterActivated()">
                    <mat-option *ngFor="let dentist of dentists" [value]="dentist">
                        {{dentist.FirstName + " " + dentist.LastName}}</mat-option>
                </mat-select>
                <button *ngIf="dentist" class="x-button" mat-button matSuffix mat-icon-button
                    (click)="dentist = undefined; $event.stopPropagation(); filterActivated()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div *ngIf="userRole === USER_TYPE.ADMIN || userRole === USER_TYPE.DENTIST" class="field-container">
            <mat-form-field>
                <mat-label>Filter po pacijentu</mat-label>
                <mat-select [(ngModel)]="patient" (valueChange)="filterActivated()">
                    <mat-option *ngFor="let patient of patients" [value]="patient">
                        {{patient.FirstName + " " + patient.LastName}}</mat-option>
                </mat-select>
                <button *ngIf="patient" class="x-button" mat-button matSuffix mat-icon-button
                    (click)="patient = undefined; $event.stopPropagation(); filterActivated()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <mat-icon class="search-icon">filter_list</mat-icon>

        <div class="total-price">
            <div [ngSwitch]="userRole">
                <ng-container *ngSwitchCase="USER_TYPE.ADMIN">Promet za filter</ng-container>
                <ng-container *ngSwitchCase="USER_TYPE.DENTIST">Vaš učinak</ng-container>
                <ng-container *ngSwitchCase="USER_TYPE.PATIENT">Iznos vaših računa</ng-container>
            </div>
            {{ totalPrice | currency: 'RSD '}}
        </div>
    </div>
    <div #billsList class="content-container">
        <div class="empty-content" *ngIf="!bills.length">
            <mat-icon>receipt</mat-icon>
            Ne postoje računi!
        </div>
        <div class="content">
            <ng-container *ngFor="let bill of bills">
                <mat-expansion-panel #billsItems [class.pointer-none]="!bill.Services.length"
                    [hideToggle]="!bill.Services.length">
                    <mat-expansion-panel-header>
                        <div class="bill-header">
                            <div class="bill-info">{{bill.AppointmentDate | date: 'dd.MM.YYYY.'}} -
                                {{bill.AppointmentDate | date: 'hh:mm'}}</div>
                            <div class="bill-info" *ngIf="userRole === USER_TYPE.ADMIN">Zubar: {{ bill.DentistName}}
                            </div>
                            <div class="bill-info" *ngIf="userRole === USER_TYPE.PATIENT">{{ bill.DentistName}}</div>
                            <div class="bill-info"
                                *ngIf="userRole === USER_TYPE.DENTIST || userRole === USER_TYPE.ADMIN">
                                {{ bill.PatientName }}
                            </div>
                            <div class="bill-info">{{bill.TotalPrice | currency: 'RSD '}}</div>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="bill-panel-content">
                        <mat-list role="list">
                            <mat-list-item role="listitem" *ngIf="bill.Services?.length">
                                <div class="list-item">
                                    <div class="text"></div>
                                    <div class="text" *ngIf="userRole === USER_TYPE.ADMIN"></div>
                                    <div class="text">Usluga:</div>
                                    <div class="text"></div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngFor="let service of bill.Services">
                                <div class="list-item">
                                    <div class="text"></div>
                                    <div class="text" *ngIf="userRole === USER_TYPE.ADMIN"></div>
                                    <div class="text" [matTooltip]="service.Description">{{service.Name}}</div>
                                    <div class="text">{{service.Price | currency: 'RSD '}}</div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-expansion-panel>
            </ng-container>
        </div>
    </div>
</div>