.main-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    padding: 20px;
    grid-gap: 40px;
    width: 100%;

    .bar {
        height: 100%;

        .example-card {
            height: 100%;
            width: 100%;

            .card-image {
                width: 100%;
            }

            .working-hours-card {
                margin-top: 10px;
                background-color: rgba(0, 0, 0, 0.205);
            }

            .telephone-card {
                margin-top: 10px;
            }

            .address-card {
                margin-top: 10px;
            }

        }

        .example-header-image {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon-display {
                transform: scale(2);
            }

        }

        .login-card {
            height: 100%;
            width: 100%;


            .login-card-content {
                margin: auto;
                max-width: 380px;
            }
        }
    }
}