<app-header></app-header>
<div class="main-div">
    <div class="bar">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <mat-icon class="icon-display">announcement</mat-icon>
                </div>
                <mat-card-title>Ordinacija Dr. Bajic</mat-card-title>
                <mat-card-subtitle>Vuk Bajic, doktor stomatologije</mat-card-subtitle>
            </mat-card-header>
            <img class="card-image" src="assets/home-page-images/smile.jpg">
            <mat-card-content>
                <p align="justify">
                    Naše stomatološke usluge pružamo u savremenom i prijatnom ambijentu. Koristimo najnovija saznanja i
                    poslednju reč tehnike. Veoma nam je bitna vaša udobnost prilikom tretmana jer znamo da vam je bila
                    potrebna hrabrost i da je odlazak kod zubara uvek stresan. Uz našu pomoć savladajte strah od
                    stomatoloških intervencija.
                </p>
                <p align="justify">
                    Stručno osoblje svojim znanjem i umećem osposobljeno je da pruži najkvalitetniju uslugu estetske
                    stomatologije savladavajući sa lakoćom i najzahtevnije estetske probleme.
                    Estetska stomatologija može drastično da promeni vaš izgled i samopouzdanje.
                </p>
                <p align="justify">
                    Različiti estetski tretmani od izbeljivanja, ispravljanja zuba pa i uključivanja invazivnijih metoda
                    kao što su fasete (veneers) i bezmetalne krune (cirkonija i litijumdisilikatne) mogu vaš osmeh
                    dovesti do perfekcije. Od nefunkcionalnog, loše estetskog do komformnog i lepog osmeha potrebna je
                    samo vaša čvrsta odluka.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="bar">
        <mat-card class="login-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <mat-icon class="icon-display">account_box</mat-icon>
                </div>
                <mat-card-title>Prijava</mat-card-title>
                <mat-card-subtitle>Prijava i registracija na sistem</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="login-card-content">
                <app-login></app-login>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="bar">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <mat-icon class="icon-display">room</mat-icon>
                </div>
                <mat-card-title>Kontakt</mat-card-title>
                <mat-card-subtitle>Kontakt podaci</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="margin-top: 10px;">
                <mat-card class="working-hours-card">
                    <div>
                        <mat-icon style="float:left">date_range</mat-icon>
                        <h3>Radno vreme</h3>
                    </div>
                    <div class=working_hours>
                        <table class="table">
                            <tbody>
                                <tr>
                                    PONEDELJAK - PETAK :
                                    <td>08:00 - 20:00</td>
                                </tr>
                                <tr>
                                    SUBOTA :
                                    <td>10:00 - 16:00</td>
                                </tr>
                                <tr>
                                    NEDELJA I PRAZNIK :
                                    <td>Neradno</td>
                                </tr>


                            </tbody>
                        </table>

                    </div>
                </mat-card>
                <mat-card class="telephone-card">
                    <mat-icon style="float:left">phone</mat-icon>
                    <h3>Kontakt telefon: <a href="tel:+38121225886">021/225-886</a></h3>
                </mat-card>
                <mat-card class="address-card">
                    <mat-icon style="float:left">email</mat-icon>
                    <h3>Elektronska posta: <a href="mailto: abc@example.com">abc@example.com</a></h3>
                </mat-card>
                <mat-card class="address-card">
                    <mat-icon style="float:left">map</mat-icon>
                    <h3>Adresa: Milete Jaksica 7, 21000 Novi Sad</h3>
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="100%" height="200" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=Milete%20Jaksica%207%20Novi%20Sad&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<app-footer></app-footer>