<div *ngIf="userRole !== USER_TYPE.PATIENT" class="select-wrapper">
    <h2>Termini za dan</h2>
    <label class="date-label">Odaberite datum:</label>
    <mat-form-field>
        <mat-label>Datum</mat-label>
        <input (dateChange)="dataChangedHandler()" matInput [matDatepicker]="picker" [(ngModel)]="dateValue">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <ng-container *ngIf="userRole === USER_TYPE.ADMIN">
        <label class="date-label">Odaberite zubara:</label>
        <mat-form-field>
            <mat-label>Zubar</mat-label>
            <mat-select (selectionChange)="dataChangedHandler()" [(ngModel)]="dentistId">
                <mat-option *ngFor="let dentist of dentists" [value]="dentist.Id">
                    {{dentist.FirstName +" "+ dentist.LastName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <div class="appoinments-list">
        <app-appointment-item *ngFor="let item of appointments" [class.clickable]="item.Reserved"
            [dateToCalculate]="dateValue" [appointment]="item" [isDisplayOnly]="true" [isPatient]="false"
            [isSelected]="(selectedAppointment$ | async) === item" class="panel-card"
            (click)="appointmentSelected(item)">
        </app-appointment-item>
    </div>
</div>
<div class="table-wrapper">
    <h2 *ngIf="userRole !== USER_TYPE.PATIENT">
        Detalji pacijenta:
        <ng-container *ngIf="selectedAppointment$ | async">{{ selectedAppointment$.value?.PatientName  }}
        </ng-container>
    </h2>
    <h2 *ngIf="userRole === USER_TYPE.PATIENT">Vaš karton</h2>

    <ng-container *ngIf="(selectedAppointment$ | async) || (userRole === USER_TYPE.PATIENT &&  interventions.length)">
        <ng-container *ngIf="userRole !== USER_TYPE.PATIENT">
            <div class="add-button">
                <button *ngIf="(selectedAppointment$ | async)?.Reserved" mat-mini-fab color="primary"
                    matTooltip="Prikaz detaljanog računa" (click)="showBillForAppointment()">
                    <mat-icon>receipt_long</mat-icon>
                </button>
            </div>
        </ng-container>

        <div class="intervention-container">
            <div class="previous-interventions" [class.full-height]="userRole === USER_TYPE.PATIENT">
                <h3>Istorija intervencija</h3>
                <div class="add-button">
                    <button *ngIf="interventionSelection.length" mat-mini-fab color="primary"
                        (click)="interventionsList.deselectAll()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div #interventionsListElement class="interventions-list">
                    <mat-selection-list #interventionsList [multiple]="false" [(ngModel)]="interventionSelection">
                        <mat-list-option *ngFor="let intervention of interventions" [value]="intervention">
                            <div class="intervention">
                                <div>Usluga: {{intervention.ServiceName}}</div>
                                <div>Zub: {{intervention.ToothName}}</div>
                                <mat-icon [class.success]="intervention.IsExecuted"
                                    [color]="intervention.IsExecuted || 'primary'">
                                    {{intervention.IsExecuted ? "task_alt" : "pending_actions"}}
                                </mat-icon>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                    <div class="empty-content" *ngIf="!interventions.length">
                        <mat-icon>history_edu</mat-icon>
                        {{userRole === USER_TYPE.PATIENT ? "Nemate pređašnjih intervencija" : "Pacijent nema pređašnjih intervencija"}}
                    </div>
                </div>
            </div>
            <div *ngIf="billServices" class="bill-items" [class.full-height]="userRole === USER_TYPE.PATIENT">
                <h3>Usluge termina</h3>
                <div class="bill-items-container">
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let service of billServices | keyvalue">
                            <div>{{service.value.name + " x"+service.value.count}}</div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>

        <div *ngIf="userRole !== USER_TYPE.PATIENT" class="intervention-details">
            <div class="transition-container" [class.show-bottom]="interventionSelection.length">
                <app-create-edit-intervention [services]="services" [teeth]="teeth"
                    (saveClick)="createIntervenion($event)" class="intervention-panel">
                </app-create-edit-intervention>
                <app-create-edit-intervention [services]="services" [teeth]="teeth" [isEditMode]="true"
                    [intervention]="interventionSelection[0]"
                    (finishClick)="completeIntervention(interventionSelection[0])"
                    (showBillClick)="showBillForAppointment()" class="intervention-panel">
                </app-create-edit-intervention>
            </div>
        </div>

    </ng-container>

    <div *ngIf="(userRole === USER_TYPE.PATIENT && !interventions.length) || (userRole !== USER_TYPE.PATIENT && (selectedAppointment$ | async) === null)"
        class="empty-content">
        <mat-icon>badge</mat-icon>
        {{userRole === USER_TYPE.PATIENT? "Vaš karton nema intervencija!" : "Odaberite termin da bi pristupili kartonu pacijenta!" }}

    </div>
</div>