<div class="picker">
    <div class="picker-date panel-card">
        <h2 class="section-title">Zakazivanje termina</h2>
        <label class="date-label">Odaberite datum:</label>
        <mat-form-field>
            <mat-label>Datum</mat-label>
            <input (dateChange)="dateChangedHandler($event)" matInput [matDatepickerFilter]="disablePastDays"
                [matDatepicker]="picker" [value]="today">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="my-appointment panel-card">
        <h2 class="section-title">Moji termini</h2>
    </div>
</div>
<div class="calendar panel-card">
    <h2 class="section-title">Termini za dan: </h2>

    <div class="appoinments-list">
        <app-appointment-item *ngFor="let item of appointments" [appointment]="item" class="panel-card">
        </app-appointment-item>
    </div>
</div>