<div class="picker">
    <div class="picker-date panel-card">
        <h2 class="section-title">{{ userRole === USER_TYPE.DENTIST ? "Datum" : "Zakazivanje termina"}}</h2>
        <label class="date-label">Odaberite datum:</label>
        <mat-form-field>
            <mat-label>Datum</mat-label>
            <input (dateChange)="dataChangedHandler()" matInput [matDatepickerFilter]="disablePastDays"
                [matDatepicker]="picker" [(ngModel)]="dateValue">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <ng-container *ngIf="userRole != USER_TYPE.DENTIST">
            <label class="date-label">Odaberite zubara:</label>
            <mat-form-field>
                <mat-label>Zubar</mat-label>
                <mat-select (selectionChange)="dataChangedHandler()" [(ngModel)]="dentistId">
                    <mat-option *ngFor="let dentist of dentists" [value]="dentist.Id">
                        {{dentist.FirstName +" "+ dentist.LastName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf="userRole === USER_TYPE.ADMIN">
            <label class="date-label">Odaberite pacijenta:</label>
            <mat-form-field>
                <mat-label>Pacijent</mat-label>
                <mat-select [(ngModel)]="patientEmail" (selectionChange)="patientChanged()">
                    <mat-option *ngFor="let patient of patients" [value]="patient.Email">
                        {{patient.FirstName +" "+ patient.LastName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
    </div>
    <div *ngIf="userRole != USER_TYPE.DENTIST" class="my-appointment panel-card">
        <h2 class="section-title">{{ userRole === USER_TYPE.ADMIN ? "Termini pacijenta" : "Moji termini"}}</h2>
        <div class="appoinments-list">
            <app-appointment-item *ngFor="let item of appointmentsPersonal" [isPersonal]="true" [appointment]="item"
                class="panel-card">
            </app-appointment-item>
        </div>
    </div>
</div>
<div class="calendar panel-card">
    <div class="heading">
        <h2 class="section-title">Termini za dan: </h2>
        <div *ngIf="userRole != USER_TYPE.PATIENT" class="actions">
            <button mat-mini-fab matTooltip="Dodaj termin" color="primary" (click)="openCreateDialog()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Automatsko kreiranje" color="primary" (click)="openCreateDialog(true)">
                <mat-icon>playlist_add</mat-icon>
            </button>
        </div>
    </div>


    <div class="appoinments-list">
        <app-appointment-item *ngFor="let item of appointments" [dateToCalculate]="dateValue"
            [isPatient]="userRole === USER_TYPE.PATIENT || userRole === USER_TYPE.ADMIN" (bookAppointment)="bookAppointment(item)" [appointment]="item"
            class="panel-card">
        </app-appointment-item>
        <div *ngIf="!appointments.length" class="empty-content">
            <mat-icon>event_busy</mat-icon>
            {{ userRole === USER_TYPE.PATIENT ? "Nema termina za navedeni dan!" : "Niste kreirali termine za navedeni dan!" }}
        </div>
    </div>
</div>