.example-card {
    width: 100%;
    height: 750px
  }
  .login-card {
    width: 100%;
    height:750px;
  }

  .icon-display {
    transform: scale(2);
 }
  
  .example-header-image {
    background-size: cover;
  }

  #main_div {
    overflow-x: hidden;
  }
  
  .bar {
    background: blue;
    float: left;
    margin: 1.5em;
    width: 30%;
  
  }
  .working-hours-card
  {
      margin-top: 10px;
      background-color:rgba(0, 0, 0, 0.205);
      
  }

  .telephone-card
  {
      margin-top: 10px;
  }

  .address-card
  {
      margin-top: 10px;
  }