:root {
    --color-primary: #5849e0;
    --color-success: #43ad48;
    --color-danger: #e70020;
    --color-warning: #ffb822;
    --color-info: #2353f3;
    --color-link: #2353f3;
    --color-disabled: #cfcfcf;

    --color-main-darker: #282a3c;
    --color-main-dark: #646464;
    --color-main: #747474;
    --color-main-light: #bbbbbb;
    --color-main-lighter: #f1f2f7;

    --color-primary-background: #e4e0f1;
    --color-success-background: #e1ebe1;
    --color-danger-background: #f1dadd;
    --color-warning-background: #f3ecdd;
    --color-info-background: #f2f2f2;

    --color-content-background: var(--color-white);
    --color-body-background: var(--color-main-lighter);
    --color-auth-background: var(--color-white);
    --color-body-font: #434349;
}