:host {
    display: flex;
    height: 100%;
    width: 100%;


    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;

        .contnet-wrapper {
            flex: 1;
            min-height: 0;
            overflow-y: auto;
            background-color: var(--color-main-lighter);
            padding: 20px;
            position: relative;

            .loader {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: var(--color-main-lighter);
                opacity: 0.6;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .lds-hourglass {
        display: inline-block;
        position: relative;
        width: 120px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 8px;
        box-sizing: border-box;
        border: 60px solid #fff;
        border-color: black transparent black transparent;
        animation: lds-hourglass 1.2s infinite;
    }

    @keyframes lds-hourglass {
        0% {
            transform: rotate(0);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        50% {
            transform: rotate(900deg);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        100% {
            transform: rotate(1800deg);
        }
    }
}