.navbar
{

    height: 8%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}

h1 {
  font-family:Baskerville,Times,'Times New Roman',serif;
    font-size:xx-large;
    color: rgba(0, 0, 0, 0.486);
    font-variant:small-caps;
    font-weight:bold;
    margin-left: 4%;
    padding-top: 1%;
    }
  
.div-title
{ 
    overflow-y: hidden;
}

.menu
{
    float: right;
    padding-top: 1%;
}

.title-link
{
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    
}

.icon-display {
    transform: scale(2);
    color: rgba(0, 0, 0, 0.493);
 }

 .home-icon
 {
     float: left;
     display: block;
     padding-top: 1%;
     padding-left: 1%;
 }

 .icon-display:hover
 {
     background-color: rgba(0, 0, 0, 0.164);
 }