<nav class="navbar">
    <div class="menu">
        <button *ngIf="getRole()" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu  #menu="matMenu">
            <button mat-menu-item  (click)="openProfile()">My Profile</button>
            <button mat-menu-item  (click)="logOut()">Log out</button>
        </mat-menu>
    </div>
    
    <div class="home-icon">
       <a href="/"><mat-icon class="icon-display">home</mat-icon></a>
    </div>

    <div clas="div-title">
       <h1><em>Stomatoloska ordinacija Dr. Bajic</em></h1>
    </div>
  
</nav>