<ng-container *ngIf="resetPasswordForm">
    <mat-card class="content">
        <mat-card-header>
            <mat-card-title>Nova lozinka</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="invalid-token" *ngIf="invalidToken">
                <h3>Poslati token nije validan!</h3>
                <a mat-button routerLink="/auth/forgot-password">Zahtevajte novi</a>
                <a class="back" routerLink="/auth" color="primary">Nazad na prijavu</a>
            </div>

            <form *ngIf="resetPasswordForm && !invalidToken" [formGroup]="resetPasswordForm" autocomplete="off"
                (ngSubmit)="resetPassword()">
                <input matInput type="password" autocomplete="off" class="true-hidden">
                <mat-form-field>
                    <mat-label>Nova lozinka</mat-label>
                    <input matInput formControlName="Password" placeholder="Lozinka" autocomplete="new-password"
                        required type="password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Ponovite novu lozinku</mat-label>
                    <input matInput formControlName="RepeatPassword" placeholder="Ponovite lozinku"
                        autocomplete="new-password" required type="password">
                </mat-form-field>
                <div *ngIf="resetPasswordForm.errors?.paswordMatch && (resetPasswordForm.touched || resetPasswordForm.dirty)"
                    class="error-list">
                    Lozinke se ne poklapaju!
                </div>

                <div class="actions">
                    <button mat-raised-button [disabled]="resetPasswordForm.invalid" color="primary" type="submit">
                        Potvrdi novu lozinku
                    </button>
                    <a class="btn-field-register" routerLink="/auth" color="primary">Nazad na prijavu</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</ng-container>