.example-card{
    position: absolute;
}

.username-field
{
    width: 100%;
    height: 30px;
}

.password-field
{
    position: absolute;
    width: 100%;
    height: 30px;
}


.btn-field
{
    width: 100%;
}
.btn-field-register
{
   
    width: 50%;
}
