<ng-container *ngIf="appointment">
    <div class="status" [class.status-free]="!appointment.Reserved" [class.past]="isPast"></div>
    <div class="container">
        <ng-container *ngIf="isPersonal">
            <div class="appointment-detail">Datum: {{appointment.DateTimeFrom | date: 'dd.MM.yyyy.'}}</div>
            <div class="appointment-detail">Vreme: {{appointment.DateTimeFrom  | date: 'hh:mm'}}</div>
            <!-- <div class="appointment-detail" *ngIf="!isPast">
                <button mat-stroked-button (click)="emitAppointmentCancel()">Otkaži</button>
            </div> -->
        </ng-container>
        <ng-container *ngIf="!isPersonal">
            <div class="appointment-detail">Od: {{appointment.DateTimeFrom }}</div>
            <div class="appointment-detail">Do: {{appointment.DateTimeTo }}</div>
            <div class="appointment-detail">{{ appointment.Reserved ? "Zauzet" : "Slobodan" }}</div>
            <div class="appointment-detail">Trajanje: {{duration}}</div>
            <div class="appointment-detail">
                <button mat-stroked-button (click)="emitAppointmentSelect()">Zakaži</button>
            </div>
        </ng-container>
    </div>

    <div *ngIf="appointment.Reserved && !isPersonal" class="disabled-panel"></div>
</ng-container>