:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main-div {
        flex: 1;
        min-height: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        grid-gap: 20px;
        width: 100%;
        background-color: var(--color-main-lighter);

        .bar {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .loader-wrapper {
                height: fit-content;
                width: fit-content;
                position: relative;

                .loader {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: var(--color-main-lighter);
                    opacity: 0.6;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    display: none;

                    &.visible {
                        display: flex;
                    }
                }
            }

            .padded {
                padding: 40px;
            }

            .example-card {
                height: 100%;
                width: 100%;

                .card-image {
                    width: 100%;
                }

                .working-hours-card {
                    margin-top: 10px;
                    background-color: rgba(0, 0, 0, 0.205);
                }

                .telephone-card {
                    margin-top: 10px;
                }

                .address-card {
                    margin-top: 10px;

                }

            }

            .example-header-image {
                display: flex;
                justify-content: center;
                align-items: center;

                .icon-display {
                    transform: scale(2);
                }

            }
        }
    }
}