
<mat-card class="card-main">
    <div>
        <mat-icon>person</mat-icon>
        <h1>{{profileForm.value.firstName}} {{profileForm.value.lastName}} </h1>
    </div>
    
    <h2>{{profileForm.value.type}}</h2>
    
</mat-card>

<mat-card class="card-info">
    <label><b>Poslednji pregled: </b> {{profileForm.value.lastAppointment}}</label>
    <br>
    <label><b>Sledeci pregled: </b>{{profileForm.value.nextAppointment}}</label>
</mat-card>

<mat-card class="card-info">
<mat-accordion class="accordion" class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Licni podaci
        </mat-panel-title>
        <mat-panel-description class="mat-panel-description">
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="profileForm" accept-charset="UTF-8" role="form" (ngSubmit)="changePersonalData()">
      <mat-form-field class="field">
        <mat-label>Ime</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Prezime</mat-label>
        <input matInput formControlName="lastName"> 
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label >Email</mat-label>
        <input matInput formControlName="email" readonly>
      </mat-form-field>
      <button mat-button> Promeni</button>
      </form>
     
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Dalje</button>
      </mat-action-row>
    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datum rodjenja
          </mat-panel-title>
          <mat-panel-description class="mat-panel-description">
            <mat-icon>calendar_today</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="dateForm" accept-charset="UTF-8" role="form" (ngSubmit)="changeDate()">
        <mat-form-field appearance="fill" class="field">
            <mat-label>Izaberi datum</mat-label>
            <input matInput formControlName="date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <button mat-button> Promeni</button>
        </form>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Nazad</button>
          <button mat-button color="primary" (click)="nextStep()">Dalje</button>
        </mat-action-row>
      </mat-expansion-panel>  

  
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lozinka
        </mat-panel-title>
        <mat-panel-description class="mat-panel-description">
          <mat-icon>password</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="passwordForm" accept-charset="UTF-8" role="form" (ngSubmit)="changePassword()">
      <mat-form-field appearance="fill" class="field">
        <mat-label>Stara lozinka</mat-label>
        <input matInput formControlName="oldPassword" [type]="hideOld ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
          <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Nova lozinka</mat-label>
        <input matInput formControlName="newPassword" [type]="hideNew ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
          <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-button> Promeni</button>
      </form>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Nazad</button>
        <button mat-button color="primary" (click)="nextStep()">Dalje</button>
      </mat-action-row>
    </mat-expansion-panel>  
</mat-accordion>
</mat-card>