<ng-container *ngIf="emailForm">
    <mat-card class="content">
        <mat-card-header>
            <mat-card-title>Zaboravljena lozinka</mat-card-title>
            <mat-card-subtitle>
                Unesite mail na koji će vam biti poslato uputstvo za generisanje nove lozinke!
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form *ngIf="emailForm" [formGroup]="emailForm" autocomplete="off" (ngSubmit)="sendEmail()">
                <mat-form-field *ngIf="!emailSent">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="Email" placeholder="Email" autocomplete="off" required
                        type="email">
                    <mat-error *ngIf="emailForm.controls.Email.errors?.email">E-mail format: abc@site.com
                    </mat-error>
                </mat-form-field>

                <div class="actions">
                    <button mat-raised-button *ngIf="!emailSent" [disabled]="emailForm.invalid" color="primary"
                        type="submit">
                        Pošalji zahtev za reset
                    </button>
                    <h2 *ngIf="emailSent">Zahtev je uspešno poslat!</h2>
                    <a class="btn-field-register" routerLink="/auth" color="primary">Nazad na prijavu</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</ng-container>