<div class="table-div">
    <mat-card class=table-card>
      <p class="ppointment-label">Karton</p>
            <table class="table">
                <thead>
                <tr>
                    <td>Usluga</td>
                    <td>Izvrsena</td>
                    <td>Zub</td>
                    <td>Izvrsio</td>
                </tr>
                </thead>
                <tbody>
                <tr class="hover-tr" *ngFor="let el of card.Interventions">
                    <td>{{el.ServiceName}}</td>
                    <td><input type="checkbox" [checked]="el.IsExecuted" disabled="true"/></td>
                    <td>{{el.ToothName}}</td>
                    <td>{{el.DentistName}}</td>              
                </tbody>
            </table>        
        
    </mat-card>
</div> 
